.DayPicker {
  background: white;
}

.DayPicker-Day {
  width: 40px;
}

.DayPicker-Day--disabled.DayPicker-Day--today {
  // Emulate border without adding 2px to its height
  box-shadow: 0 0 0 1px #dce0e0;
}
