= render 'shared/footer'
- if (google_analytics_key = ENV['GOOGLE_ANALYTICS_KEY'])
  script async=true src='https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.1/autotrack.js'
  javascript:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    if (typeof ga !== 'undefined') {
      ga('create', '#{google_analytics_key}', 'auto');
      ga('require', 'ec');
      ga('require', 'cleanUrlTracker', { trailingSlash: 'remove' });
      ga('require', 'maxScrollTracker', { maxScrollMetricIndex: 1 });
      ga('require', 'impressionTracker', { elements: ['download_card', 'view_benefits', 'social_share'] });
      ga('require', 'outboundFormTracker');
      ga('require', 'outboundLinkTracker');
      ga('require', 'pageVisibilityTracker', { sendInitialPageview: true, visibleMetricIndex: 2 });
      ga('require', 'socialWidgetTracker');
      ga('require', 'urlChangeTracker');
    }

- if (intercom_id = Rails.application.credentials.intercom)
  - if user_signed_in?
    javascript:
      window.intercomSettings = {
        app_id: '#{intercom_id}',
        name: '#{current_user.name}',
        email: '#{current_user.email}',
        created_at: '#{current_user.created_at.to_i}',
      }
  - else
    javascript:
      window.intercomSettings = {
        app_id: '{intercom_id}'
      }

  javascript:
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/e0o4isl3';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

- if user_signed_in?
  javascript:
    if (window.bugsnagClient)
      window.bugsnagClient.user = {
        id: '#{current_user.id}',
        name: '#{current_user.name}',
        email: '#{current_user.email}'
      }
