- unless Rails.env.production?
  - env = Bugsnag.configuration.release_stage
  ruby:
    css_class = { 'dev' => :dark,
                  'staging' => :warning,
                  'demo' => :info,
                  'test' => :error,
                }[env]
  span.badge class="badge-#{css_class}" = env.humanize
