javascript:
  var backButton = document.getElementById('btn_back');

  if (backButton) {
    backButton.onclick = function() {
      return confirm("Going back will discard any changes you've made. Do you still want to?")
    }
  }
