javascript:
  var backButton = document.getElementById('btn_back');

  function confirmBack() {
    return confirm("Going back will discard any changes you've made. Do you still want to go back?")
  }

  backButton.onclick = confirmBack; //Start action on click
