- default_title = 'LifeWork'
- default_description = 'Get paid for your work. Seamlessly.'
- default_keywords = 'freelancer, payments, escrow, gig economy, gig worker'

title = yield(:title).present? ? "#{yield(:title)} | LifeWork" : default_title

meta name='description' content="#{yield(:description).presence || default_description}"
meta name='keywords' content="#{yield(:keywords).presence || default_keywords}"

meta property='og:title' content="#{yield(:title).presence || default_title}"
meta property='og:description' content="#{yield(:description).presence || default_description}"

- if yield(:share_image).present?
  meta property='og:image' content="#{yield(:share_image).presence}"

- if yield(:canonical_url).present?
  meta property='og:url' content="#{yield(:canonical_url).presence}"
  link rel='canonical' href="#{yield(:canonical_url).presence}"

meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
meta charset='utf-8'
meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0 shrink-to-fit=no'
meta name='msapplication-square150x150logo' content=asset_pack_path('media/images/ms-icon-150x150.png')
meta name='msapplication-TileColor' content='#FFFFFF'
= favicon_pack_tag 'favicon.ico', rel: 'shortcut icon'
= favicon_pack_tag 'favicon-192x192.png', rel: :icon, sizes: '192x192'
= favicon_pack_tag 'apple-touch-icon.png', rel: 'apple-touch-icon'

= yield(:head_extra)

= csrf_meta_tags
= csp_meta_tag

= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

= stylesheet_link_tag 'https://use.typekit.net/brp1ynq.css'

javascript:
  window.RELEASE_STAGE = '#{Rails.env}'

= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

= javascript_include_tag 'https://cdn.jsdelivr.net/npm/@iconfu/svg-inject@1.2.3/dist/svg-inject.min.js'

= render 'shared/analytics'
