ruby:
  return if record.blank?
  
  badge_class = record.status_class
  badge_text = record.status.humanize
  
  if record.is_a?(Project) && record.client_invited? && client_namespace?
    badge_class = :warning
    badge_text = 'Deposit Required'
  end
  
  badge_text = 'Deposited' if record.is_a?(Payment) && record.succeeded?

.badge class="badge-#{badge_class} #{local_assigns[:class]}" = badge_text
