ruby:
  return if record.blank?
  
  badge_class = record.status_class
  badge_text = record.status.humanize
  
  if record.is_a?(Project) && record.client_invited? && client_namespace?
    badge_class = :warning
    badge_text = 'Deposit Required'
  end
  
  if record.is_a?(Payment)
    badge_text = 'Deposited' if record.succeeded?
    badge_title = 'Funds are currently in transit. This status will update when they are received by LifeWork.' if record.pending?
  end

.badge class="badge-#{badge_class} #{local_assigns[:class]}" title=badge_title = badge_text
