= f.time_zone_select :time_zone, ActiveSupport::TimeZone.basic_us_zones, { disabled: '', prompt: 'Please select', required: true, selected: @user.time_zone || '' }, control_class: 'custom-select', required: true
