= content_for :head_extra
  = javascript_include_tag 'https://cdn.plaid.com/link/v2/stable/link-initialize.js', defer: true

- title = 'Link Bank Account'
- content_for :title, title

h2.text-center.mt-2 = title

.row
  .container.text-center
    p.lead.my-4 Our partner, <a href='https://plaid.com/why-is-plaid-involved/' target='_blank' rel='noopener'>Plaid</a>, makes it easy to link your bank account quickly & securely. There are no micro-deposits to hassle with, and you can always update your payment account in the future.
    - unless Rails.env.production?
      .alert.alert-warning.d-table.mx-auto.shadow-none Use these <a href='https://plaid.com/docs/#testing-auth' target='_blank' rel='noopener' class='alert-link'>plaid credentials</a> to test the system.
    button.btn.btn-primary#link-button
      = mdi_svg 'vector-link'
      |  Link Now
    .col-sm-6.mx-auto
      = render 'stripe_message'

ruby:
  plaid_token = PLAID_CLIENT.link_token.create(
    {
      user: { client_user_id: current_user.id.to_s },
      client_name: 'LifeWork',
      country_codes: ['US'],
      language: 'en',
      env: PLAID_ENV,
      products: %w[auth],
    })['link_token']

javascript:
  document.addEventListener('DOMContentLoaded', function() {
    var linkHandler = Plaid.create({
      token: '#{plaid_token}',
      onExit: function(error, metadata) {
        if (error) {
          window.Bugsnag.addMetadata('custom', { error: error, metadata: metadata })
          window.Bugsnag.notify(new Error(error.message))
        }
      },
      onSuccess: function(public_token, metadata) {
        window.createPayMethod({
          type: 'PayMethods::BankAccount',
          name: metadata.account.name,
          kind: metadata.account.subtype,
          issuer: metadata.institution.name,
          last_4: metadata.account.mask,
          plaid_id: metadata.account_id,
          plaid_link_token: public_token,
        })
      },
    })

    document.getElementById('link-button').onclick = function() {
      linkHandler.open()
    }
  })
