= bootstrap_form_with(url: [:deposit, current_namespace, @project.becomes(Project)], layout: :horizontal, local: true) do |f|
  = f.primary class: 'btn btn-success float-right', id: 'submit-form', render_as_button: true, value: :deposit
    = mdi_svg 'bank-transfer-out'
    |  Deposit #{amount&.format(no_cents: true)} now
