$blue: #3b9de3;

$font-family-serif: adobe-garamond-pro, Georgia, serif;
$font-family-base: $font-family-serif;
$font-size-base: 1.125rem;

$body-bg: hsl(201, 0%, 98%);
$body-color: rgba(26, 26, 26, 0.7);

$btn-border-radius: 10rem; // fully rounded
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-font-size: 0.9rem;
$btn-font-weight: 300;
$btn-padding-y: 0.6rem;
$btn-padding-x: 2rem;

$headings-color: #383a3d;
$headings-font-weight: 600;

$input-bg: $body-bg;
$input-border-radius: 0;
$input-border-radius-lg: $input-border-radius;
$input-border-radius-sm: $input-border-radius;
$input-focus-bg: white;
$input-focus-box-shadow: none;
$input-padding-y: 0.5rem;

$list-group-border-radius: none;

// Vars referencing existing bootstrap vars must
// go in this block and have the !global flag
// https://stackoverflow.com/a/38225564/337446
%scope {
  @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/variables';

  $input-focus-border-color: $gray-600 !global;
  $input-font-family: $font-family-sans-serif !global;
  $input-border-color: $gray-500 !global;
  $input-placeholder-color: $gray-500 !global;
}

@import '~bootstrap/scss/bootstrap';

.btn {
  font-family: $font-family-sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

@include media-breakpoint-down(xs) {
  form {
    .btn {
      width: 100%;
    }
  }
}

.form-group {
  label {
    font-weight: 600;
  }

  label:not(.required):after {
    content:" (optional)";
    font-size: 85%;
    font-style: italic;
  }
}

.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit;
}

.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="radio"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="radio"] + .list-group-item:before {
  content: "\25C9";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="radio"]:checked + .list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="radio"]:checked + .list-group-item:before {
  color: inherit;
}

.navbar-brand img {
  max-width: 160px;
}
