// bootstrap theme overrides

$blue: #3b9de3;

$font-family-serif: adobe-garamond-pro, Georgia, serif;
$font-family-base: $font-family-serif;
$font-size-base: 1.125rem;

$body-bg: hsl(201, 0%, 98%);
$body-color: rgba(26, 26, 26, 0.7);

$border-radius: 0;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$btn-border-radius: 10rem; // fully rounded
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-font-size: 0.9rem;
$btn-font-size-lg: $btn-font-size * 1.25;
$btn-font-size-sm: $btn-font-size * .875;
$btn-font-weight: 300;
$btn-padding-y: 0.6rem;
$btn-padding-x: 2rem;
$btn-padding-y-sm: 0.5rem;
$btn-padding-x-sm: 1rem;

$headings-color: #383a3d;
$headings-font-weight: 600;

$input-bg: $body-bg;
$input-focus-bg: white;
$input-focus-box-shadow: none;
$input-padding-y: 0.5rem;

$list-group-border-radius: none;

// Vars referencing existing bootstrap vars must
// go in this block and have the !global flag
// https://stackoverflow.com/a/38225564/337446
%scope {
  @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/variables';

  $h3-font-size: $font-size-base * 1.25 !global;
  $input-focus-border-color: $gray-600 !global;
  $input-font-family: $font-family-sans-serif !global;
  $input-border-color: $gray-500 !global;
  $input-placeholder-color: $gray-500 !global;
}

@import '~bootstrap/scss/bootstrap';

.alert {
  box-shadow: $box-shadow;
}

.badge {
  .close {
		margin-left: .25rem;
		color: inherit;
		font-size: 100%;
    line-height: 0.9;
		text-shadow: 0 1px 0 rgba(#000, .5);
	}
}

.btn {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  &.btn-sm {
    letter-spacing: 0.08rem;
  }
}

.date-pill {
  font-size: 100%;

  .selected-date {
    font-weight: $font-weight-normal;
  }
}

@include media-breakpoint-down(xs) {
  form {
    .btn {
      width: 100%;
    }
  }
}

.flatpickr-calendar {
  border-radius: $border-radius !important;
}

span.flatpickr-day.selected {
  &, &:focus, &:hover {
    background: $blue;
    border-color: $blue;
  }

  &:hover {
    opacity: 0.75;
  }
}

.font-serif {
  font-family: $font-family-serif
}

.font-sans-serif {
  font-family: $font-family-sans-serif
}

.form-group {
  label {
    font-weight: 600;
  }

  label:not(.required):not(.form-check-label):after {
    content:" (optional)";
    font-size: 85%;
    font-style: italic;
  }
}

h3 {
  color: hsl(205, 79%, 29%);
  font-family: $font-family-sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="checkbox"]:not(:checked) + .list-group-item {
  background-color: inherit;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
  background-color: $blue;
  color: #FFF;
}

.list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit;
}

.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="radio"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="radio"] + .list-group-item:before {
  content: "\25C9";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="radio"]:not(:checked) + .list-group-item {
  background-color: inherit;
}

.list-group input[type="radio"]:checked + .list-group-item {
  background-color: $blue;
  color: #FFF;
}

.list-group input[type="radio"]:checked + .list-group-item:before {
  color: inherit;
}

.navbar {
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.08);

  .navbar-brand img {
    max-width: 160px;
  }
}

// Style select placeholder. This is a hack because selects have a placeholder element that's disabled & selected by default. If the select is required, then the disabled placeholder is an invalid choice.
select:invalid {
  color: $input-placeholder-color;
}
