#stripe-message.col.mt-4.inset.border.text-center
  = mdi_svg 'shield-lock-outline'
  p.mt-2.mb-0 Payments are powered by <a href='https://stripe.com/' target='_blank'>Stripe</a>, PCI-compliant processor that is trusted by <a href='https://stripe.com/customers' target='_blank'>thousands of businesses</a> of all sizes across the globe, including many Fortune 500 companies. All information is transmitted securely & stored using state-of-the-art encryption.
