markdown:
  We've withdrawn **#{@milestone.client_amount&.format}** from your #{@milestone.pay_method}, and will hold that until the next milestone, **#{@milestone.description}**, is completed on **#{l(@milestone.date, format: :text_without_year)}**, at which point we'll automatically pay it out to **#{@freelancer_name}**.

p If you need to communicate with #{@freelancer_name} about this milestone, just reply to this email, or #{link_to 'comment via our website', [:timeline, @recipient.type, @milestone.project.becomes(Project)]}.
