p #{@milestone.client_approaching_text} for completion of "#{@milestone.description}".
p If you need to communicate with #{@freelancer_name} about this milestone, just reply to this email, or #{link_to 'comment via our website', [@recipient.type, @milestone.project.becomes(Project), :comments]}.
