p We've been holding your deposit for the following milestone, which was completed today. We've disbursed the funds shown below:

markdown:
  **Amount:** #{@milestone.amount&.format}  
  **Completed Milestone:** #{@milestone.description}  
  **Project:** #{@milestone.project.name}  
  **Freelancer:** #{@freelancer_name}  

- if @next_milestone
  markdown:
    At the end of today, we will automatically withdraw **#{@next_milestone.client_amount&.format}** from your #{@milestone.pay_method}, and hold that until the next milestone, **#{@next_milestone.description}**, is completed on **#{l(@next_milestone.date, format: :text_without_year)}**.
  p
    em If for some reason you do not want us to do so, please reply to this email immediately.
