p We've been holding your deposit for the following milestone, which was completed today. We've released the funds shown below:

markdown:
  **Transferred from LifeWork account:** #{@milestone.amount&.format}  
  **Completed Milestone:** #{@milestone.description}  
  **Project:** #{@milestone.project.name}  
  **Freelancer:** #{@freelancer.name}  

- if @next_milestone
  markdown:
    At the end of today, we will automatically withdraw **#{@next_milestone.amount_with_fee&.format}** from your #{@milestone.client.primary_pay_method}, and hold that until the next milestone, **#{@next_milestone.description}**, is completed on **#{l(@next_milestone.date, format: :text_without_year)}**.
  p
    em If for some reason you do not want us to do so, please reply to this email immediately.
