markdown:
  At the request of #{@freelancer_name}, we have refunded **#{@refund_amount.format}** of a payment received on #{l(@payment.paid_at, format: :date_only)} for **#{@project}**. You will see it reflected on your #{@payment.pay_method} in a few business days.
