markdown:
  We've withdrawn **#{@payment.client_amount.format}** from your #{@payment.pay_method}, and will hold that until **#{l(@project.next_date, format: :text_without_year)}**, at which point we'll automatically pay it out to **#{@freelancer_name}**.
