p We've been holding your deposit until today, and have now disbursed the funds shown below:

markdown:
  **Amount:** #{@project.amount&.format}  
  **Project:** #{@project.name}  
  **Freelancer:** #{@freelancer_name}  

- if @project.active?
  markdown:
    At the end of today, we will automatically withdraw **#{@project.client_amount&.format}** from your #{@project.pay_method}, and hold that until **#{l(@project.next_date, format: :text_without_year)}**.
  p
    em If for some reason you do not want us to do so, please reply to this email immediately.
