h2.text-center Payment is on the way!

p 
  markdown:
    We've transferred #{@milestone.amount.format} for the successful completion of "#{@milestone.description}" into your Stripe account. You should see it hit your bank account within a few business days.
