h2.text-center Payment is on the way!

p We've been holding your client's deposit for the following milestone, which was completed today. We've disbursed the net amount shown below - you should see it hit your bank account within a few business days:

markdown:
  **Completed Milestone:** #{@milestone.description}  
  **Project:** #{@milestone.project.name}  
  **Client:** #{@milestone.project.client}  
  **Amount:** #{@milestone.amount&.format}  
  **Fees:** #{@milestone.freelancer_fee&.format}  
  **Net Amount:** #{@milestone.freelancer_amount&.format}  

- if @next_milestone
  markdown:
    At the end of today, we will automatically withdraw **#{@next_milestone.amount&.format}** from your client's saved payment method, and hold that until the next milestone, **#{@next_milestone.description}**, is completed. Look for another message from us when that occurs, so that you know your next payment is secure.
  p
    em If for some reason you do not want us to do so, please reply to this email immediately.
