markdown:
  At your request, we have refunded **#{@refund_amount.format}** of a payment for **#{@project}** received on #{l(@payment.paid_at, format: :date_only)}. #{@project.client} will see it reflected on their original form of payment in a few business days.
