h2.text-center Payment is on the way!

p We've been holding your client's deposit, and have disbursed the net amount shown below - you should see it hit your bank account within a few business days:

markdown:
  **Project:** #{@project.name}  
  **Client:** #{@project.client}  
  **Amount:** #{@payment.base_amount.format}  
  **Fees:** #{@payment.freelancer_fee.format}  
  **Net Amount:** #{@payment.freelancer_amount.format}  

- if @project.active?
  markdown:
    At the end of today, we will automatically withdraw **#{@project.amount.format}** from your client's saved payment method, and hold that until **#{l(@project.next_date(@project.next_date), format: :text_without_year)}**. Look for another message from us when that occurs, so that you know your next payment is secure.
  p
    em If for some reason you do not want us to do so, please reply to this email immediately.
