= image_pack_tag 'lifework-logo-dark.png', class: 'title-large', alt: Trestle.config.site_title
= image_pack_tag 'lifework-logo-initials-dark.png', class: 'title-small', alt: Trestle.config.site_title
